.header {
    background-color: black;
}

button {
    width: 100px;
    height: 100%;
    border: 0px;
    cursor: pointer;
}

button:hover{
    background-color: antiquewhite;
}

li{
    text-decoration: none;
}


.hul {
    background-color:azure;
    width: 50%;
    height: 50px;
    text-align: center;
    border-top-right-radius: 10px;
}

.hli {
    display: inline-block;
    height: 100%;
}